div{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

/* se relaciona de forma relativa al posicionamiento original */
.relative {
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/*posicionamiento fijo - se posiciona siempre en relacion a la pantalla*/
.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: aquamarine;
    z-index: 10;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
}

.relative.contenedor{
    width: 300px;
    height: 500px;
    background-color: blueviolet;
}


/* posicionamiento pegajoso - al hacer scroll modifica su posición relative -> fixed */
.sticky{
    background-color: chocolate;
    position: sticky;
    top: 0px;
    z-index: 2;
}